extends ../layout/layout.pug
block css
  // build:css css/plugin.min.css
  link(rel='stylesheet', href='css/plugin.css')
  // endbuild
block content
  .container
    .row
      h1 bienvenidos jose
block javascript
  // build:js js/plugins.min.js
  script(src='js/plugin.js')
  // endbuild
