- var page = {}
- page.title = "My web"
- page.charset = "utf-8"
- page.lang = "es"
- page.img = "/img"
- page.description = "200 characters"
- page.viewport = "width=device-width, initial-scale=1.0"
- page.robots = "index, follow, noodp"
- page.verification_token = ""

//- Redes sociales
- page.fbId = "123456789"
- page.type = "website"
- page.locale = "en_ES"
- page.author = ""
- page.twitter_acount_site = "@site_account"
- page.twitter_individual =  "@individual_account"
- page.twitter_description = "min 140 characters"
- page.siteName = "App Name"
- page.themeColor = "#fff"
- page.googlePlus = "pageGooglePlus"
