- var page = {}
- page.charset = "utf-8"
- page.lang = "es"
- page.url = "/"
- page.static = "/public"
- page.description = "Descripción"
- page.viewport = "width=device-width, initial-scale=1.0"
- page.robots = "index, follow, noodp"
- page.verification_token = ""
- page.favicon = page.static + "img/favicon.ico"

- page.og = {}
- page.og.type = "website"
- page.og.image = page.static + "img/logo.png"
