include meta.pug
<!--[if IE ]>
    script(src='js/vendor/es5-shim/es5-shim.min.js')
    script(src='js/vendor/classList/classList.min.js')
    script(src='js/vendor/selectivizr/selectivizr-min.js')
    script(src="js/vendor/flexibility/flexibility.js")
<![endif]-->
