include ../config/page.pug
doctype html
html(lang=page.lang)
  head
    include partial/head.pug
    block css
      link(rel='stylesheet', href='css/style.css')
  body
    .wrapper
      include partial/header.pug
      block content
      include partial/footer.pug
      block javascript
